.main {
    width: 100%;
    height: auto;
    background-color: #EFF3F5;
}

#justify{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

#justify1{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
}

#rows{
    display: flex;
    flex-direction: row
}

#col {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 11%;
    /* background-color: white; */
    margin-top: 1em;
}

#cols{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main1 {
    width: 80%;
    /* background-color: yellow; */
    margin-left: 10%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

#main2 {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    justify-content: space-between;
    width: 86.5%;
}

#appMain {
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}

#title {
    display: flex;
    flex-direction: row;

}

#title1 {
    font-weight: bold;
    font-size: x-large;
    color: black;
    font-family: inherit;
    margin-top: 0.3em;
}

#title2 {
    font-weight: bold;
    font-size: x-large;
    color: #814eff;
    font-family: inherit;
    margin-top: 0.3em;
}

#search {
    margin-top: 5px;
}

#buton {
    background-color: #814eff;
    padding: 1%;
    width: 125px;
    height: 20px;
    cursor: pointer;
    margin: 1em;

}

#buton1 {
    background-color: white;
    padding: 1%;
    width: 156px;
    height: 20px;
    cursor: pointer;
    margin: 1em;
    /* margin-left: 10%; */
}

#text {
    font-size: 0.8rem;
    color: #354168;
}

#num {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: #354168;

}

#num1 {
    font-weight: 600;
    margin-top: 0.3em;
    font-size: 3.125rem;
}

#boxes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* flex-wrap: wrap; */
    /* margin-left: 27%; */
    width: 50%;
}

#boxes1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    /* justify-content: flex-end; */
    /* flex-wrap: wrap; */
}

#menu{
    display: none
}


.MenuIcon {
    display: none;
}

#card {
    width: 95%;
     padding: 10%;
      border: 1px solid #d5dcec;
       display: flex;
        flex-direction: row;
         justify-content: center ;
         background-color: white;
}

#cards {
    /* display: flex;
    flex-direction: row;
    margin: 2%;
    margin-left: 10%; */

    display: flex;
    flex-direction: row;
    /* margin: 2%; */
    margin-left: 10%;
    width: 84%;
    /* background-color: red; */
    justify-content: space-between;
}

#cards1 {
    display: flex;
    flex-direction: column;
    margin: 2%;
    margin-left: 10%;
    /* width: 940px; */
}

#cards1s {
    margin: '1em';
    width: '22%';
    padding: '3%';
    border: '1px solid #d5dcec';
    display: 'flex';
    justify-content: 'center';
    color: '#354168';

}

#watch {
    display: flex;
    flex-direction: row;
    color: #A8ABAD;
}

#name {
    color: #a8abad !important;
    font-size: 12px;
}

#names {
    margin-top: 1em;
    color: #636363;
}

#name1 {
    font-weight: 400;
    font-size: 0.8rem;
    color: #354168;
    margin-top: 1em;
    text-align: start;
}

#name11 {
    font-weight: 400;
    font-size: 0.8rem;
    color: #354168;
    /* margin-top: 1em; */
    text-align: start;

}

#name12 {
    font-weight: 400;
    font-size: 0.8rem;
    color: #354168;
    /* margin-top: 1em; */
    text-align: start;
    width: 110px;
    display: flex;
    flex-direction: row;
    /* width: 100px; */
    justify-content: flex-start;
    /* background-color: red; */
}

#name123 {
    font-weight: 400;
    font-size: 0.8rem;
    color: #354168;
    /* margin-top: 1em; */
    text-align: start;
    width: 100%;
}

#name1234 {
    font-weight: 400;
    font-size: 0.8rem;
    color: #354168;
    /* margin-top: 1em; */
    text-align: start;
    width: 90%;
    /* margin-left: 5.3em; */
}

#name12345 {
    font-weight: 400;
    font-size: 0.8rem;
    color: #636363;
    /* margin-top: 1em; */
    text-align: start;
    width: 80%;
    /* margin-left: 5.7em; */
}

#name123456 {
    font-weight: 200;
    font-size: 0.8rem;
    color: #A8ABAD;
    margin-top: 1em;
    text-align: start;
    width: 80%;
    /* margin-left: 5.7em; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#manage{
    color: white;
    font-size: 15px;
    background-color: #3940e2;
    padding: 15%;
    width: -moz-fit-content;
    width: fit-content;
    /* margin-left: -8%; */
    border-radius: 4px;
    margin-top: 1em;
}

#colText{
    width: 80%;
}

#name14 {
    font-weight: 400;
    font-size: 0.8rem;
    color: #354168;
    /* margin-top: 1em; */
    /* text-align: start; */
    width: 110px;
    /* display: flex; */
    flex-direction: row;
    /* width: 100px; */
    justify-content: flex-start;
    /* background-color: yellow; */
}

#name13 {
    font-weight: 600;
    font-size: 0.8rem;
    color: black;
    /* margin-top: 1em; */
    text-align: start;
    width: 75px;
    display: flex;
    flex-direction: row;
    /* width: 100px; */
    justify-content: flex-start;
    /* background-color: pink; */
}

#name2 {
    color: white;
    font-size: 12px;
    background-color: #2e6da4;
    padding: 4%;
    width: fit-content;
    margin-left: 38%;
    border-radius: 4px;
}

#name3 {
    color: #636363;
    font-size: 1rem;
    justify-content: flex-start;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: start;
}

#name4 {
    color: #354168;
    font-size: 2rem;
    justify-content: flex-start;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: start;
    margin-top: 0.2em;
}

#bar {
    padding: 0.5px;
    background-color: #a8abad;
    width: 98%;
}

#verbar {
    padding: 0.05em;
    background-color: rgb(194, 209, 254);
    width: 0.05em;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}

#infos {
    display: flex;
    flex-direction: column;
}

#infos1 {
    margin: 2em;
    margin-top: -1em;
}

#infos12 {
    margin: 2em;
    margin-top: 1.3em;
}

#infos13 {
    margin: 2em;
    margin-top: 1em;
}

#bar1 {
    padding: 0.5px;
    background-color: #a8abad;
    width: 75%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#bar2 {
    padding: 0.5px;
    background-color: #d5dcec;
    width: 110%;
    margin-left: -1.5em;
    margin-top: 1em
}

#bar3 {
    padding: 0.5px;
    background-color: #d5dcec;
    width: 100%;
    /* margin-left: -1.5em; */
    margin-top: 1em;
    margin-bottom: 1em;
}

#bullet {
    display: flex;
    flex-direction: row
}

#but {
    border-radius: 0.25rem;
    background-color: #4CCEAC;
    color: white;
    height: fit-content;
}

#but1 {
    border-radius: 0.25rem;
    background-color: #FF6F59;
    ;
    color: white;
    height: fit-content;
}

#but2 {
    border-radius: 0.25rem;
    background-color: #DB504A;
    color: white;
    height: fit-content;
}

#cardTest {
    /* background-color: violet; */
    margin: 1em;
    width: 22%;
    padding: 3%;
    border: 1px solid #d5dcec;
    display: flex;
    justify-content: center;
    color: #354168
}

#cardTest1 {
    /* background-color: violet; */
    margin: 1em;
    width: 22%;
    padding: 3%;
    border: 1px solid #d5dcec;
    display: flex;
    /* justify-content: center; */
    color: #354168
}

#cardTest2 {
    /* background-color: violet; */
    margin: 1em;
    width: 23%;
    padding: 3%;
    border: 1px solid #d5dcec;
    display: flex;
    /* justify-content: center; */
    color: #354168
}

#graph {
    width: 100%;
    /* height: 100px; */
}

#bottomCard1 {
    margin: 1em;
     width: 40%;
      padding: 2%;
       border: 1px solid #d5dcec;
       display: flex;
        flex-direction: column;
         color: '#354168';
     text-align: left;
}

#bottomCard2 {
    margin: 1em;
    margin-left: 11.5%;
    width: 77%;
    padding: 2%;
    border: 1px solid #d5dcec;
    display: flex;
    flex-direction: column;
    color: '#354168';
    text-align: left;
}

@media only screen and (max-width: 1190px) {
    #main2 {
        display: none;
    }

    .MenuIcon {
        display: visible;
    }

    #menu{
        display: visible
    }

    #boxes {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    #boxes1 {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }


}


@media only screen and (max-width: 750px) {
    #cols{
        flex-direction: column;
    }
    #colText{
        margin-left: 0em;
    }
    #manage{
        padding: 0.5em;
    }
}

@media only screen and (max-width: 1050px) {
    #cards {
        display: flex;
        flex-direction: column;
        /* background-color: violet; */
        align-items: center;
        width: 81%
    }

    #cardTest {
        width:96%;
    }

    #cardTest1 {
        width: 96%;
    }

    #cardTest2 {
        width: 96%;
    }

    #bottomCard1{
        width: 96%;  
        margin-left: 5%;
    }

    #cards1 {
        overflow-x: scroll
    }

}

@media only screen and (max-width: 800px) {
    #cardTest {
        width: 96%;
    }

    #cardTest1 {
        width: 96%;
    }

    #cardTest2 {
        width: 96%;
    }
    #bottomCard1{
        width: 96%;  
    }
}

@media only screen and (max-width: 400px) {
    #cardTest {
        width: 100%;
    }

    #cardTest1 {
        width: 100%;
    }

    #cardTest2 {
        width: 100%;
    }
    #bottomCard1{
        width: 100%;  
    }
}

@media only screen and (max-width: 570px) {
    #input {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    #col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.canvasjs-chart-credit {
    display: none
}