.main {
    width: 100%;
    height: auto;
    background-color: #EFF3F5;
}

#col {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 11%;
    background-color: white;
    margin-top: 1em;
}

#main1 {
    width: 80%;
    /* background-color: yellow; */
    margin-left: 10%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

#main2 {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    justify-content: space-between;
    width: 86.5%;
}

#appMain {
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}

#title {
    display: flex;
    flex-direction: row;

}

#title1 {
    font-weight: bold;
    font-size: x-large;
    color: black;
    font-family: inherit;
    margin-top: 0.3em;
}

#title2 {
    font-weight: bold;
    font-size: x-large;
    color: #814eff;
    font-family: inherit;
    margin-top: 0.3em;
}

#search {
    margin-top: 5px;
}

#buton {
    background-color: #814eff;
    padding: 1%;
    width: 125px;
    height: 20px;
    cursor: pointer;
    margin: 1em;

}

#buton1 {
    background-color: white;
    padding: 1%;
    width: 156px;
    height: 20px;
    cursor: pointer;
    margin: 1em;
    /* margin-left: 10%; */
}

#text {
    font-size: 0.8rem;
    color: #354168;
}

#num {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: #354168;

}

#num1 {
    font-weight: 600;
    margin-top: 0.3em;
    font-size: 3.125rem;
}

#boxes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* flex-wrap: wrap; */
    /* margin-left: 27%; */
    width: 50%;
}

#boxes1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    /* justify-content: flex-end; */
    /* flex-wrap: wrap; */
}


.MenuIcon {
    display: none;
}

#card {
    width: '70%';
    padding: '10%';
    border: '1px solid #d5dcec';
    display: 'flex';
    flex-direction: 'row'
}

#cards {
    display: flex;
    flex-direction: row;
    margin: 2%;
    margin-left: 10%;
}

#cards1 {
    display: flex;
    flex-direction: column;
    margin: 2%;
    margin-left: 10%;
}

#cards1s {
    margin: '1em';
    width: '22%';
    padding: '3%';
    border: '1px solid #d5dcec';
    display: 'flex';
    justify-content: 'center';
    color: '#354168';

}

#name {
    color: #a8abad !important;
    font-size: 12px;
}

#names {
    margin-top: 1em;
    color: #636363;
}

#name1 {
    font-weight: 400;
    font-size: 0.8rem;
    color: #354168;
    margin-top: 1em;
    text-align: start;
}

#name11 {
    font-weight: 400;
    font-size: 0.8rem;
    color: #354168;
    /* margin-top: 1em; */
    text-align: start;

}

#name12 {
    font-weight: 400;
    font-size: 0.8rem;
    color: #354168;
    /* margin-top: 1em; */
    text-align: start;
    width: 110px;
    display: flex;
    flex-direction: row;
    /* width: 100px; */
    justify-content: flex-start;
    /* background-color: red; */
}

#name14 {
    font-weight: 400;
    font-size: 0.8rem;
    color: #354168;
    /* margin-top: 1em; */
    /* text-align: start; */
    width: 110px;
    /* display: flex; */
    flex-direction: row;
    /* width: 100px; */
    justify-content: flex-start;
    /* background-color: yellow; */
}

#name13 {
    font-weight: 600;
    font-size: 0.8rem;
    color: black;
    /* margin-top: 1em; */
    text-align: start;
    width: 75px;
    display: flex;
    flex-direction: row;
    /* width: 100px; */
    justify-content: flex-start;
    /* background-color: pink; */
}

#name2 {
    color: white;
    font-size: 12px;
    background-color: #2e6da4;
    padding: 4%;
    width: fit-content;
    margin-left: 38%;
    border-radius: 4px;
}

#name3 {
    color: #636363;
    font-size: 1rem;
    justify-content: flex-start;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: start;
}

#name4 {
    color: #354168;
    font-size: 2rem;
    justify-content: flex-start;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: start;
    margin-top: 0.2em;
}

#bar {
    padding: 0.5px;
    background-color: #a8abad;
    width: 98%;
}

#bar1 {
    padding: 0.5px;
    background-color: #a8abad;
    width: 150%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#bar2 {
    padding: 0.5px;
    background-color: #d5dcec;
    width: 110%;
    margin-left: -1.5em;
}

#but {
    border-radius: 0.25rem;
    background-color: #4CCEAC;
    color: white;
    height: fit-content;
}

#but1 {
    border-radius: 0.25rem;
    background-color: #FF6F59;
    ;
    color: white;
    height: fit-content;
}

#but2 {
    border-radius: 0.25rem;
    background-color: #DB504A;
    color: white;
    height: fit-content;
}

@media only screen and (max-width: 1190px) {
    #main2 {
        display: none;
    }

    .MenuIcon {
        display: visible;
    }

    #boxes {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    #boxes1 {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    #cards {
        display: flex;
        flex-direction: column;
        background-color: violet;
    }

}

#cardTest {
    background-color: violet;
    margin: 1em;
    width: 22%;
    padding: 3%;
    border: 1px solid #d5dcec;
    display: flex;
    justify-content: center;
    color: #354168
}

@media only screen and (max-width: 570px) {
    #input {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    #col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}